[user]
	name = Vladimir Popov
	email = vladimir@dokwork.ru
[alias]
	co = checkout
	st = status -sb
	ci = commit
	cm = commit -am
	br = branch
	review = merge --no-ff --no-commit 
	hist = log --pretty=format:%h %ad | %s%d [%an] --graph --date=short
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[pager]
	branch = false
	log = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[diff]
	tool = vimdiff
	colorMoved = default
[difftool "vimdiff"]
	cmd = nvim -d "$LOCAL" "$REMOTE"
[mergetool "vimdiff"]
	cmd = nvim -d "$LOCAL" "$MERGED" "$REMOTE"
[interactive]
	diffFilter = delta --color-only

[delta]
	line-numbers = true
	side-by-side = true
	navigate = true
