[user]
	name = Vladimir Popov
	email = vladimir@dokwork.ru
[alias]
	co = checkout
	st = status -sb
	ci = commit
  cm = commit -am
	br = branch
  review = merge --no-ff --no-commit 
	hist = log --pretty=format:%h %ad | %s%d [%an] --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	l = log --pretty=%Cgreen%cn%Creset %C(auto)%h%Creset %Cred%ad%Creset%n      %s --date=relative
	lg = log --pretty=%Cgreen%cn%Creset %C(auto)%h%Creset %Cred%ad%Creset%n      %s --date=relative --graph
  ls = ls-tree -r main --name-only
	forget = update-index --assume-unchanged
	recall = update-index --no-assume-unchanged
	in = '!git remote update -p ; git log ..@{u}'
	out = 'log @{u}..'
[core]
	excludesfile = /Users/vladimir/.gitignore_global
	autocrlf = input
[pager]
	branch = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
[filesystem "AdoptOpenJDK|11.0.5|/dev/disk1s1"]
	timestampResolution = 10000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[init]
	defaultBranch = main
